.custom-checkbox {

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: #fff;
  border: 1px solid #b0bec5;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;


  &:hover {
    border-color: #1e88e5;
  }
}

.custom-checkbox:checked {
  background-color: #A0DCF6;
  ;
  border-color: #1e88e5;
}

.custom-checkbox:checked::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  width: 5px;
  height: 14px;
  border: 1px solid #0796D3;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}