.header {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  padding: 10px;
  border-bottom: 1px solid #d7dde9;

  > h1 {
    font-size: 16px;
    font-weight: 500;
    line-height: 29.04px;
  }

  > span {
    font-weight: 400;
    line-height: 19.36px;
    color: #0000008a;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: center;

    > h1 {
      font-size: 24px;
    }
  }
}
