.container {
  width: 100%;
  height: 428px;
  padding: 32px;
  margin-top: 20px;
  border-radius: 16px;
  border: 1px solid #eaecf0;
  box-shadow: 0px 1px 2px 0px #1018280d;

  @media (min-width: 768px) {
    width: 450px;
    height: 446px;
  }
}

.title {
  font-weight: 400;
  line-height: 19.36px;
  color: #0000008a;
  font-size: 16px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  padding: 20px 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px dashed #ccc;
  margin-bottom: 10px;
  border-radius: 5px;

  &:hover {
    background-color: #f7f9fd;
    border: 1px dashed transparent;
  }
}

.completedItem {
  color: #0000008a;
  text-decoration: line-through;
}

.description {
  display: flex;
  align-items: center;
  gap: 10px;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
}

.addButton {
  background-image: linear-gradient(90deg, #0796d3 0%, #53c0f0 68.65%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  height: 51px;

  @media (min-width: 768px) {
    width: 450px;
  }
}
